
body {
    font-family: 'Libre Baskerville', serif;
    background-color:#ffffff;
    background-size: 100%;
    margin-top: 75px;
    text-align: center;
    margin-left:20px;
    margin-right:20px;
}


.text-big {
    font-size: 300%;
}
.color{
    color: white;
}
.bold {
    font-weight: bold;
}

.img-medium {
    height: 100%;
    
}
.container{
    color:#04frth;
    margin-left: 100px;
    margin-right: 100px;
    text-align:center;
}
.container text
{
  text-align:justify;  
font-family: 'Josefin Sans', sans-serif;
}