body {
    font-family: sans-serif;
    background-image: url(http://www.planwallpaper.com/abstract-wallpapers#static/images/avzxywebcd-abstract-wallpaper-5.jpg);
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

